VSRaccoltaDifferenziata/packages
VSRaccoltaDifferenziata/RaccoltaDifferenziata/obj
VSRaccoltaDifferenziata/RaccoltaDifferenziata/bin
NodeJSRaccoltaDifferenziata/node_modules
NodeJSRaccoltaDifferenziata/package-lock.json
